.checkout-container{
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 60px;

}

.cart{
    height: 863px;
    width: 783px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}