.product-cards{
    margin:10px;
    width:250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    padding-bottom:10px;
    border-radius:8px;
    box-shadow: 7px 8px 13px -4px rgba(0,0,0,0.47);
    -webkit-box-shadow: 7px 8px 13px -4px rgba(0,0,0,0.47);
    -moz-box-shadow: 7px 8px 13px -4px rgba(0,0,0,0.47);
    background-color: white;
}

.product-img{
    border: solid 2px #EFEFEF;
    height: 160px;
    width: 180px;
    border-radius: 8px;
    display: flex;
    margin: 35px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.product-cards img{
    width:151px;
    height: 131px;
    margin-bottom:10px;
    border-radius: 8px;
    object-fit: contain;

}


.product-info {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 10px;
}

.category{
    text-transform: capitalize;
    padding: 10px 0;
    color: #949494;
    ;
}

.title{
    font-weight: 700;
}

.price{
    font-weight: 700;
    margin-bottom: 10px;
}


.detail-link{
    text-decoration: none;
}

.heart-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E7e7e7;
    width: 29px;
    height: 29px;
    border-radius: 50%;
    position: relative;
    left: 190px;
    top: 15px;
}
.heart-icon{
    background-color: #E7e7e7;
    border-radius: 50%;
    
}