.product-cards{
    margin:10px;
    width:250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom:10px;
    border-radius:8px;
    box-shadow: 7px 8px 13px -4px rgba(0,0,0,0.47);
    -webkit-box-shadow: 7px 8px 13px -4px rgba(0,0,0,0.47);
    -moz-box-shadow: 7px 8px 13px -4px rgba(0,0,0,0.47);
    background-color: white;
}

.product-img{
    text-align: center;
    padding: 10px;
}

.product-cards img{
    width:151px;
    height: 131px;
    margin-bottom:10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    object-fit: contain;
}

.character-card a{
    margin-top:10px;
    border:none;
    padding:8px 16px;
    border-radius: 8px;
    background-color: var(--primary-bg);
    color:white;
    cursor:pointer;
}

.product-info {
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 10px;
}

.category{
    text-transform: capitalize;
    padding: 10px 0;
    color: #949494;
    ;
}

.title{
    font-weight: 700;
}

.price{
    font-weight: 700;
}