.header-container{
    background-color: whitesmoke;
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    justify-content: space-between;
  }
  
  .shopping-cart{
    padding-right: 30px;
  }

  .cart-icon{
    font-size: 30px;
  }

  .shopping-cart p{
    background-color: red;
    color: white;
    border-radius: 50%;
    height: 16px;
    width: 17.69px;
    text-align: center;
    position: relative;
    left: 12px;
    top: 12px;
  }

  .logo{
    position: relative;
    right: 100px;
  }

  .logo img {
    height: 270px;
    width: 350px;
  }