.footer-container{
    background-color: #3A4895;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-container p{
    padding-left: 20px;
    color: white;
}

.contact-us{
    border: none;
    background-color: transparent;
    color: white;
    text-decoration: none;
    padding-right: 20px;
}


@media screen and (max-width: 750px){

    .footer-container{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-around;
        padding: 20px;
    }

}